.container{
    margin: 0 auto;
    max-width: 400px;
}

.confirm{
    margin: 0 auto;
    max-width: 800px;
}
.login-form{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    align-content: center;
}
.lock-icon{
    display: block;
}
.login-header,
.lock-icon{
    text-align: center;
}
.form-item{
    margin-top: 5px;
}